<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    Message from app component ---> ( {{appData}} ) -- Doesnt go away after refresh<br>
    Alternatively --> {{altMsg}} <br>
    <button (click) = "emitEvent()">Emit Event</button>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/interpolation">Interpolation</a></li>
        <li><a routerLink="/propery-binding">Property Binding</a></li>
        <li><a routerLink="/class-binding">Class Binding</a></li>
        <li><a routerLink="/style-binding">Style Binding</a></li>
        <li><a routerLink="/event-binding">Event Binding</a></li>
        <li><a routerLink="/template-ref-variable">Template Reference Variable</a></li>
        <li><a routerLink="/two-way-binding">Two Way Binding</a></li>
        <li><a routerLink="/directives">Directives</a></li>
        <li><a routerLink="/pipes">Pipes</a></li>
        <li><a routerLink="/employee-list">Employee List</a></li>
      </ul>
    </nav>
  </div>
</header>