<header>
  <div class="container">
    <a routerLink="/" class="logo">{{appTitle}}</a>
    <nav>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/interpolation">Interpolation</a></li>
        <li><a routerLink="/propery-binding">Property Binding</a></li>
        <li><a routerLink="/class-binding">Class Binding</a></li>
        <li><a routerLink="/style-binding">Style Binding</a></li>
        <li><a routerLink="/event-binding">Event Binding</a></li>
        <li><a routerLink="/template-ref-variable">Template Reference Variable</a></li>
      </ul>
    </nav>
  </div>
</header>